body {
    color: $white;
    //font-family:
    font-size: $font-size-4;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    
}

p {
    color: $gray-dark;
    font-size: $font-size-5;
    font-weight: 200;
    line-height: $line-height*1.5;
    margin: 0;
    text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
    line-height: $line-height;
    margin: 0;
}

a {
    color: $white;
    text-decoration: none;
    &:hover {
        color: $light-blue-text;
        text-decoration: none;
    }
}